<!-- <h1>{{ title }}</h1> -->
<!-- <button (click)="numero = numero - 1">-1</button>

<span>{{ numero }}</span>

<button (click)="numero = numero + 1">+1</button> -->

<!-- 
<button (click)="restar()">-1</button>

<span>{{ numero }}</span>

<button (click)="sumar()">+1</button> -->

<!-- <button (click)="acumular(-1)">-1</button>

<span>{{ numero }}</span>

<button (click)="acumular(+1)">+1</button> -->

<!-- <h3>La base es: {{ base }}</h3>

<button (click)="acumular(-base)">-{{ base }}</button>

<span>{{ numero }}</span>

<button (click)="acumular(base)">+{{ base }}</button> -->
<h1>{{ title }}</h1>
<h3>La base es: {{ base }}</h3>

<button (click)="acumular(-base)">-{{ base }}</button>

<span>{{ numero }}</span>

<button (click)="acumular(base)">+{{ base }}</button>
